//---------------------------------------------------------------------------
//
// Name:        KvizApp.rc
// Author:      ZK
// Created:     18.12.2017 14:55:11
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
